
.text-justify {
  text-align: justify;
}

.image-invert {
	filter: invert(100%);
}

@media (max-width: 700px) {
	#logo_poli {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 33%;
		margin-left: auto;
		margin-right: auto;
		display: block;
  }
	
}

body {
	margin-bottom: 400 px;
}

* {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
}

