<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who I am?</h2>
                <hr class="light">
                <p class="text-faded">I’m just a student. I love physics, music and computer science. I know, they are three things that are “a bit” different :=)
				But spending time on studying these topics I understand that they are correlated, and the more I study one of them, the more I love it!</p>
                <a href="https://www.linkedin.com/in/matteoalasio/" class="btn btn-default btn-xl">My curriculum!</a>
            </div>
        </div>
    </div>
</section>
