<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is my experience?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            I start my experience at 11 years old when I make my first live concert. At that time I play the bass guitar but my passion is and was the guitar! So day by day I grow up in life and music and at 14 years old I decide to took private lessons of guitar with Marco Soria (a special big hug to him, thanks Marco, you make me love and understand more music).
			I continue to play with some local band and we had great live experience, but three years ago (in 2015) it happens what i wish! Marco asked me if I want to play with him in his beautiful project, AMEMANERA.
			Meanwhile I continue develop skill in computer science and I learn different programming languages (as C, JAVA, SQL, VBA,..).
        </div>
    </div>
</section>
<section id="services1">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where I studied and where I am studying?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
	<div class="container">
        <div class="row">
            I attended high school in Asti, at the Liceo Scientifico “F. Vercelli”. I choose the new couse that was called “Opzione scienze applicate” so I study computer science since 14 years old. During those years I learned to programming in different language: C, JAVA, SQL, VBA, OCTAVE/MATLAB, C++, HTML, Python, Arduino and LaTex.
			Now I’m attending to Politecnico di Torino in ECE (electronic and communications engineering). This undergraduate program is completely offer in English.
        </div>
    </div>
</section>
<section id="services2">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Scholarship and reward</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
	<div class="container">
        <div class="row">
            For two consecutive years (this one and the last one) I took a reduction of the fee for merit and a scholarship for ECE student.
        </div>
    </div>
</section>
